<div  *ngIf="currentWikiStore.wikiOpen" class="z-index-100">
    <div [@fadeSlideEnter] class="wiki-panel position-fixed top-0 bottom-0 right-0 p-4">
        <i class='fa fa-times text-sm position-absolute top-0 right-0 m-2 cursor-pointer' (click)="currentWikiStore.closeWiki()"></i>
        <section *ngIf="!currentWikiStore.wikiLoading && currentWikiStore.currentWiki">
            <h2 class="mb-3">{{ currentWikiStore.currentWiki.title }}</h2>
            <p class="text-sm lh-md mb-3">{{ currentWikiStore.currentWiki.summary }}</p>
            <footer class="text-xs">Source: <a [attr.href]="currentWikiStore.currentWiki.url" target="_blank">Wikipedia</a></footer>
            
        </section>
    </div>
    <div [@fadeEnter] (click)="currentWikiStore.closeWiki()" class="wiki-backdrop position-fixed left-0 right-0 top-0 bottom-0">
    </div>
</div>