<div class="game-container">
    <div class='timer'>
      <div class="hiScore">NEW HI SCORE</div>
      <span>TIME</span>
    </div>
    

    <div class='menu'>
      <div class='menuTitle'>
        <h2>Protect your dot</h2>
      </div>
      <div class="directionsContainer">
        <div class="directions">
          <div class="directionsText">Use </div>
          <div class="keys">
            <div><span class="key">&uarr;</span></div>
            <div><span class="key">&larr;</span><span class="key">&darr;</span><span class="key">&rarr;</span></div>
          </div>
          <div class="directionsText"> to move</div>
        </div>
        <div class="directions">
          <div class="directionsText">Press </div>
          <div class="keys">
            <div><span class="key space">SPACE</span></div>
          </div>
          <div class="directionsText"> to start</div>
        </div>
      </div>
    </div>
    <div class='menu gameover'>
      <div class='menuTitle'>
        <h2>Game Over</h2>
      </div>
      <div class="directionsContainer">
        <div class="directions">
          <div class="directionsText">Press </div>
          <div class="keys">
            <div><span class="key space">SPACE</span></div>
          </div>
          <div class="directionsText"> to play again</div>
        </div>
      </div>
    </div>
    <canvas width="1352" height="873"></canvas>
</div>
