@import url('https://fonts.googleapis.com/css?family=Audiowide');

html, body {
  margin: 0;
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  overflow: hidden;
  height: inherit;
}

.game-container {
  position: relative;
  width: 100%;
  height: 100%;
}

canvas {
  width: 100%;
  height: 100%;
}

button {
  position: absolute;
  border: none;
  left: 10px;
  font-size: 16px;
  width: 70px;
  height: 24px;
}

.menu {
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
  bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menuTitle {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #4d4d4d;
  font-family: 'Audiowide', serif;
  letter-spacing: .1em;
  animation-duration: 0.7s;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.menuTitle h2 {
    font-size: 4rem !important;
}

@keyframes pulse {
  0% {
    color: rgba(77, 77, 77, 0);
  }

  70% {
    color: rgba(77, 77, 77, 1);
  }
}

.directionsContainer {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.directions {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin: 10px 0;
}

.directionsText {
  font-size: 24px;
  color: #4d4d4d;
}

.directionsText:first-child {
  width: 60px;
  min-width: 60px;
  max-width: 60px;
}

.directionsText:last-child {
  width: 90px;
  text-align: left;
}

.directions div {
  margin: 0 10px;
}

.keys {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.key {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  color: #4d4d4d;
  display: inline-block;
  padding: 4px 0 0 0;
  border: 1px solid #4d4d4d;
  text-align: center;
  margin: -0.5px;
}

.space {
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameover {
  display: none;
  top: 100px;
  bottom: 100px;     
}

.gameover h2 {
  color: #c60000;
  font-size: 4rem !important;
}

.gameover .directionsText:last-child {
  width: 150px;
}

.timer {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 14px;
  background-color: #ffffffa1;
  padding: 30px 20px;
  height: 30px;
  width: auto;
  border-radius: 6px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.timer span {
  font-weight: bold;
  letter-spacing: 0.07em;
}

.hiScore {
  position: absolute;
  top: 40px;
  right: -40px;
  font-size: 11px;
  color: #fff;
  display: none;
  flex-direction: column;
  justify-content: center;
  
    background: #001848;
    width: 50px;
    height: 50px;
    min-height: 50px;
    text-align: center;
    z-index: 1;
    -webkit-transform: rotate(-20deg);
       -moz-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
         -o-transform: rotate(-20deg);
}
.hiScore:before, .hiScore:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background: #001848;
    z-index: -1;
}
.hiScore:before {  
    -webkit-transform: rotate(30deg);
       -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
         -o-transform: rotate(30deg);
}
.hiScore:after {
    -webkit-transform: rotate(60deg);
       -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
         -o-transform: rotate(60deg);
}

.count {
  font-size: 18px;
  margin: 4px 0;
}
.count:after {
  content: "s";
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  width: 64px;
  height: 32px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e5e3e3;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 35px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 32px;
  width: 32px;
  left: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #333fe0
}

input:checked + .slider:before {
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px);
}