.btn-default {
    background: linear-gradient(138deg,#ff5502,#ff017f,#ff010d);
    background-size: 300% 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 1.2rem 2.4rem;
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
    &:hover {
        cursor: pointer;
        background-position: 100% 0;
    }
    &:disabled {
        opacity: .6;
    }
    &:disabled:hover {
        cursor: initial;
        background-position: inherit !important;
    }
    &:focus {
        box-shadow: 0 0 0 3px #016fc8, 0 0 0 6px rgba(74,144,226,.2);
    }
}

.button-loader{
    width: 60px;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

.button-loader:before{
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    top: calc(50% - 4px);
    left: 0px;
    background-color: #fff;
    animation: rotatemove 1s infinite;
  }
  
  @keyframes rotatemove{
    0%{
      -webkit-transform: scale(1) translateX(0px);
      -ms-transform: scale(1) translateX(0px);
      -o-transform: scale(1) translateX(0px);
      transform: scale(1) translateX(0px);
    }
  
    80%{
      -webkit-transform: scale(2) translateX(24px);
      -ms-transform: scale(2) translateX(24px);
      -o-transform: scale(2) translateX(24px);
      transform: scale(2) translateX(24px);
    }
  
    100%{
      -webkit-transform: scale(2) translateX(24px);
      -ms-transform: scale(2) translateX(24px);
      -o-transform: scale(2) translateX(24px);
      transform: scale(2) translateX(24px);
    }
  }