$triangle-width: 8px;
$triangle-height: 6px;

.tooltip-validate {
    border-top: 6px solid #8303bc;
    position: absolute;
    width: 180px;
    left: 0;
    top: 100%;
    margin-top: $triangle-height;
    z-index: 10;
    .tooltip-list {
        padding-left: 20px;
        margin-bottom: 0;
    }
    &::before {
        content: '';
        position: absolute;
        border-right: solid $triangle-width transparent;
        border-left: solid $triangle-width transparent;
        border-top: solid $triangle-height transparent;
        border-bottom: solid $triangle-height #8303bc;
        left: 50%;
        bottom: calc(100% + 6px) ;
        transform: translateX(-50%);
    }
}