.tech-img {
    width: 120px;
    height: auto;
}
.tech-label {
    font-size: 2rem;
    min-width: 100px;
    text-align: left;
}
.panel-actionable:hover, .panel-actionable:focus {
    cursor: pointer;
    background-color: #f2f2f2;
    & .hover-icon {
        display: block !important;
    }
}
.hover-icon {
    display: none;
}