@import "../../../assets/sass/spacing";

.signup-container {
    width: 100%;
    margin: 0;
    padding: 12rem 0;
    text-align: center;
    @media (max-width: $mobile-breakpoint-sm) {
        padding: 1rem;
    }
}

.signup-prompt {
    width: 54rem;
    text-align: left;
    display: inline-block;
    font-family: "Heebo", sans-serif;
    background-color: #fff;
    padding: 4rem;
    @media (max-width: $mobile-breakpoint-sm) {
        max-width: 100%;
        padding: 3rem;
    }
}