.signup-container {
    width: 100%;
    margin: 0;
    padding: 12rem 0;
    text-align: center;
}

.signup-prompt {
    min-width: 54rem;
    max-width: 54rem;
    text-align: left;
    display: inline-block;
    font-family: "Heebo", sans-serif;
    background-color: #fff;
}