
<main class="signup-container">
    <!-- Step 1: Form -->
    <section *ngIf="signupStep === signupSteps.form">
        <app-prompt-header></app-prompt-header>
        <app-public-form (formSubmit)="submit($event)" [formInputs]="formInputs"></app-public-form>
    </section>

    <!-- Step 2: Success -->
    <section *ngIf="signupStep === signupSteps.success && signupUser">
        <app-prompt-header></app-prompt-header>
        <p>{{ signupUser.email }}</p>
        <button class="btn-default">Sign In</button>
    </section>
</main>
