$intro-colors: #C22326 #fe6d2a #fda432 #017886 #801638 #9cc83b #fbe839 #f13f4f #70B7BA #C22327 #fe6d2b #fda433 #017887 #801639 #9cc83c #fbe83a #f13f50;


@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}



.block--intro {
   min-height: 650px;
   height: calc(100vh - 64px);
   position: relative;

   &-work {
      height: calc(100vh - 467px);
      min-height: 120px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      &__header {
         font-size: 3.2rem;
         margin-top: 0;

         @each $color in $intro-colors {
            $i: index($intro-colors, $color);
            & > span:nth-child(#{$i}) {
               animation: letter#{$i} .4s linear #{($i*75+1025)}ms normal forwards;
            }
         }
      }
      &__text {
         text-align: center;
         margin: 0;
      }
      &__para {
         max-width: 420px;
         margin: 0 auto;
      }
   }
   &__inner {
      display: flex;
      height: 650px;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0 2em;
   }
   &__left {
      width: 480px;
      height: 560px;
      margin: 50px 0 0 0;
      z-index: 2;
   }
   &__center {
      width: 280px;
      padding-top: 300px;
      text-align: center;
      &-inside {
         display: inline-block;
         text-align: left;
         height: 320px;
         display: none;
      }
      &-h1 {
         font-size: 3.6rem;
         word-spacing: .8rem;
         text-transform: uppercase;
         height: 30px;
         margin: 0;
         position: relative;
         color: rgba(0,0,0,0);
         transform: translateX(-200px);
         animation: slide-intro 1s ease 0.2s 1 normal forwards;

         @each $color in $intro-colors {
            $i: index($intro-colors, $color);
            & > span:nth-child(#{$i}) {
               animation: letter#{$i} .4s linear #{($i*100+1000)}ms normal forwards;
            }
            @include keyframes(letter#{$i}) {
               0% {
                  color: rgba(0,0,0,1);
               }
               1% {
                  color: #{$color};
               }
               99% {
                  color: #{$color};
               }
               100% {
                  color: rgba(0,0,0,1);
               }
            }
         }
      }
      &-h2-sect {
         height: 280px;
         display: flex;
         flex-direction: column;
         justify-content: center;
      }
      &-h2 {
         font-size: 2rem;
         margin: 0.5rem 0;
         position: relative;
         color: rgba(0,0,0,0);
         transform: translateX(-200px);
         animation: slide-intro 1s ease 0.4s 1 normal forwards;
      }
      &-h1:before {
         animation: grow-intro 1s ease 0.2s 1 normal forwards;
      }
      &-h2:before {
        animation: grow-intro 1s ease 0.4s 1 normal forwards;
      }
      &-h1::before, &-h2::before {
         content: '';
         position: absolute;
         height: 0;
         width: 0px;
         border-top: 1px solid #000;
         top: calc(50% - 1px);
         left: -10px;
      }
      &-h1::after, &-h2::after {
         content: '';
         position: absolute;
         height: 6px;
         width: 6px;
         border-radius: 3px;
         top: calc(50% - 3px);
         left: -13px;
         background-color: #000;
      }
   }
}



.block--divided {
   margin-bottom: 2rem;
}


.block--skills__h2--show {
   color: rgba(0,0,0,1);
}



@media only screen and (min-height: 900px) {
   .block--intro-work {
      height: calc(100vh - 824px);
      margin-bottom: 1rem;
   }
}

@media only screen and (max-width: 1250px) {
   .block--work__tile-left {
      width: 260px;
      min-width: 260px;
   }
   .block--work__tile-right {
      width: calc(100% - 260px);
   }
   .block--work__img {
      height: 180px;
      margin: 65px 0;
   }
}

@media only screen and (max-width: 1200px) {
   .block--skills__tile {
      width: 50%;
      margin-top: 1rem;
   }

   .block--skills {
      padding: 2rem;
   }

}

@media only screen and (max-width: 1170px) {
   .block--intro-work {
      min-height: 175px;
   }
   .block--work__tile {
      width: 100%;
   }
   .block--work__tile-left {
      width: 320px;
      min-width: 320px;
   }
   .block--work__tech-items {
      max-width: none;
   }
   .block--work__img {
      height: 280px;
      margin: 15px 0;
   }
}

@media only screen and (max-width: 920px) {
   .block {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
   }

   .nav {
      text-align: center;
      margin-bottom: 20px;
      padding: 0;
      display: flex;


      &__button {
         flex-grow: 1;
         flex-basis: 0;
      }
   }

   .block--intro {
      display: flex;
      min-height: 480px;
      height: calc(100vh - 50px);

      &__inner {
         height: auto;
         bottom: 2rem;
      }
      &__left {
         width: 335px;
         height: 395px;
         margin-top: 0.75rem;
      }
      &__center {
         flex-grow: 1;
         padding-top: 200px;
         margin: 0 30px;
      }
      &__center-inside {
         height: 110px;
      }
      &__center-h2-sect {
         height: auto;
         margin: 1rem 0;
      }
   }
}

@media only screen and (max-width: 767px) {
   .block--skills__tile {
      width: 100%;
   }
   .block--edu {
      padding: 2rem 1rem;
      &__tile {
         flex-wrap: wrap;
         justify-content: flex-start;
      }
      &__icon {
         width: 200px;
         margin-left: calc(50% - 100px);
         margin-right: calc(50% - 100px);
         height: auto;
      }
      &__right {
         margin: 0 auto;
         height: auto;
         text-align: center;
      }
      &__text {
         margin: 0;
      }
      &__school {
         font-size: 1.2rem;
      }
   }
   .footer {
      width: 100%;
      padding: 0 calc(50% - 150px) 0 calc(50% - 150px);
      text-align: center;
      &__container--contact {
         text-align: right;
      }
   }
}
@media only screen and (max-width: 750px) {
   .block__header {
      font-size: 1.5rem;
   }
   .block--intro {
      padding: 0;
   }
   .block--intro__inner {
      flex-wrap: wrap;
      bottom: 2rem;
      width: 100%;
   }
   .block--intro__left {
      width: 240px;
      height: 280px;
      margin: 0 auto;
      margin-bottom: 1rem;
   }

   .block--intro__center {
      width: 100%;
      margin: 0;
      padding: 0;
      text-align: center;

      &-inside {
         height: auto;
      }

      &-h1 {
         margin: 0.67em 0;
      }
      &-h2-sect {
         margin: 0;
         text-align: center;
      }

      &-h1::after, &-h2::after, &-h1::before, &-h2::before {
         display: none;
      }
   }
   .block--work {

      &__tile {
      flex-wrap: wrap;

         &-left {
            width: 100%;
            text-align: center;
         }
         &-right {
            width: 100%;
            text-align: center;
            color: #000;
            animation: none;
         }
      }
      &__title {
         display: block;
         width: 100%;
         text-align: center;

         &::before, &::after {
            display: none;
         }
      }
      &__links {
         height: auto;
         margin: 1rem 0;

         &-span a {
            color: #000;
            animation: none;
         }
         &::before, &::after {
            display: none;
         }
      }
      &__tech {
         &::before, &::after {
            display: none;
         }
      }
   }
}

@media only screen and (max-width: 400px) {
   .nav__button {
      font-size: 0.75rem;
   }
   .block--skills, .block--edu {
      padding: 2rem 0.5rem
   }
}


@keyframes slide-intro {
   0% {
      transform: translateX(-200px);
      color: rgba(0,0,0,0);
   }

   50% {
      color: rgba(0,0,0,0);
   }

   100% {
      transform: translateX(0);
      color: rgba(0,0,0,1);
   }
}

@keyframes grow-intro {
   0% {
      width: 0;
      transform: translateX(0px);
   }
   100% {
      width: 200px;
      transform: translateX(-200px);
   }
}

@keyframes slide-skills-hor {
   0% {
      width: 0;
   }
   100% {
      width: 88px;
   }
}