<header class='br-6 bs-light bg-gray-light block--intro my-4'>
    <div class="block--intro__inner" *ngIf="view === viewType.intro" [@fadeEnter]>
       <img class='block--intro__left' [attr.src]='user.avatar'/>

       <div class='block--intro__center'>
          <div class='block--intro__center-inside'>
             <h1 class='block--intro__center-h1'>
                <span *ngFor="let char of user.name | splitString" [innerHtml]="char">
                </span>
             </h1>
             <div class='block--intro__center-h2-sect'>
                <h3 class='block--intro__center-h2'>{{ user.title }}</h3>
                <h3 class='block--intro__center-h2'>{{ user.city }}</h3>
             </div>
          </div>
       </div>
    </div>

   <div *ngIf="view === viewType.game" [@fadeEnter] class="h-100 w-100">
      <app-dot-game></app-dot-game>
   </div>

    <i (click)="switchView()" class="fa color-gray-dark position-absolute bottom-0 right-0 text-md m-3 cursor-pointer" [ngClass]="view === viewType.intro ? 'fa-gamepad' : 'fa-home'"></i>

 </header>