.br-6 {
    border-radius: 6px;
}

.br-12 {
    border-radius: 12px;
}

.bs-light {
    box-shadow: 0 0 2px rgba(0,0,0,.2);
}

.bs-popover {
    box-shadow: 0 0 12px rgba(0,0,0,.15);
}

.bg-gray-light {
    background-color: #fafafa;
}

.bg-gray-dark {
    background-color: #e6e6e6;
}

.color-gray-darkest {
    color: #999;
}