@import './spacing';

.position-relative {
    position: relative;
}

.position-fixed {
    position: fixed;
}

.position-absolute {
    position: absolute;
}

.top-0 {
    top: 0;
}

.bottom-0 {
    bottom: 0;
}

.left-0 {
    left: 0;
}

.right-0 {
    right: 0;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.text-left-md {
    @media screen and (min-width: 751px) {
        text-align: left !important;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.freeze-scroll {
    padding-right: 20px;
    overflow: hidden;
}

.z-index-100 {
    z-index: 100;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-block-sm {
    @media (min-width: $mobile-breakpoint-sm + 1) {
        display: block;
    }
}

.d-none-sm {
    @media (min-width: $mobile-breakpoint-sm + 1) {
        display: none;
    }
}

.text-capitalize {
    text-transform: capitalize;
}

// TODO: Componentize
.btn-default {
    background: linear-gradient(138deg,#ff5502,#ff017f,#ff010d);
    background-size: 300% 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 1.2rem 2.4rem;
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
    &:hover {
        cursor: pointer;
        background-position: 100% 0;
    }
    &:disabled {
        opacity: .6;
    }
    &:disabled:hover {
        cursor: initial;
        background-position: inherit !important;
    }
    &:focus {
        box-shadow: 0 0 0 3px #016fc8, 0 0 0 6px rgba(74,144,226,.2);
    }
}