<div class="mb-12">
    <app-user-header [user]="user"></app-user-header>
</div>
<div class="mb-12">
    <h2 class="mb-4 pb-1">Professional experience</h2>
    <app-user-experience (technologyClicked)="openWiki($event)" *ngFor="let experience of user.experience" [experience]="experience"></app-user-experience>
</div>
<div class="mb-12">
    <h2 class="mb-4 pb-1">Formal education</h2>
    <app-user-education *ngFor="let education of user.education" [education]="education"></app-user-education>
</div>

<app-wiki-panel></app-wiki-panel>