$intro-colors: #C22326 #fe6d2a #fda432 #017886 #801638 #9cc83b #fbe839 #f13f4f #70B7BA;
// $intro-colors: #C22326 #F37338 #FDB632 #027878 #801638 #F1433F #F7E967 #A9CF54 #70B7BA;
// $intro-colors: #ba0000 #dd5700 #ffb500 #bae71f #00bf43 #00bf8b #0284a1 #5d3ec4 #330b4f;

*, *:before, *:after {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

html {
   font-size: 1.25rem;
   display: none;
}

.container {
   margin: 0 auto;
   width: 100%;
   max-width: 1400px;
   font-family: 'Josefin Sans', sans-serif;
}

.nav {
   width: 100%;
   height: 50px;
   padding: 0 2rem;
   text-align: right;

   &__button {
      display: inline-block;
      text-align: center;
      width: 150px;
      height: 30px;
      line-height: 30px;
      margin-top: 20px;
      font-size: 1rem;
      color: #8e8e8e;
      text-decoration: none;
      transition: color .1s ease;
   }
   &__button:hover {
      text-decoration: none;
      color: #000;
   }
}

.block {
   width: calc(100% - 80px);
   margin: 0 2rem;
   padding: 0 0 2rem 0;
}

.block__header {
   padding: 0;
   margin: 4rem 2rem 1rem 2rem;
   font-size: 1.5rem;
}

.block--intro {
   min-height: 650px;
   height: calc(100vh - 88px);
   position: relative;
   background-color: #fafafa;
   border: 1px solid #f2f2f2;
   border-radius: 2px;

   &__inner {
      display: flex;
      height: 650px;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0 2em;
   }
   &__left {
      width: 480px;
      height: 560px;
      margin: 50px 0 0 0;
      z-index: 2;
   }
   &__center {
      width: 280px;
      padding-top: 300px;
      text-align: center;
      &-inside {
         display: inline-block;
         text-align: left;
         height: 320px;
         display: none;
      }
      &-h1 {
         font-size: 1.6rem;
         height: 30px;
         margin: 0;
         position: relative;
         color: rgba(0,0,0,0);
         transform: translateX(-180px);
         animation: slide-intro 1s ease 0.2s 1 normal forwards;

         @each $color in $intro-colors {
            $i: index($intro-colors, $color);
            & > span:nth-child(#{$i}) {
               animation: letter#{$i} .4s linear #{($i*100+1000)}ms normal forwards;
            }
            @keyframes letter#{$i} {
               0% {
                  color: rgba(0,0,0,1);
               }
               1% {
                  color: #{$color};
               }
               99% {
                  color: #{$color};
               }
               100% {
                  color: rgba(0,0,0,1);
               }
            }
         }
      }
      &-h2-sect {
         height: 280px;
         display: flex;
         flex-direction: column;
         justify-content: center;
      }
      &-h2 {
         font-size: 1rem;
         margin: 0.25rem 0;
         position: relative;
         color: rgba(0,0,0,0);
         transform: translateX(-180px);
         animation: slide-intro 1s ease 0.4s 1 normal forwards;
      }
      &-h1::before, &-h2::before {
         content: '';
         position: absolute;
         height: 0;
         width: 200px;
         border-top: 1px solid #000;
         top: calc(50% - 1px);
         left: -210px;
      }
      &-h1::after, &-h2::after {
         content: '';
         position: absolute;
         height: 6px;
         width: 6px;
         border-radius: 3px;
         top: calc(50% - 3px);
         left: -13px;
         background-color: #000;
      }
   }
}

.block--skills {
   display: flex;
   flex-wrap: wrap;
   padding: 1rem 1rem 0 1rem;
   background-color: #fafafa;
   border: 1px solid #f2f2f2;
   border-radius: 2px;

   &__tile {
      display: flex;
      width: calc(100% / 3);
   }
   &__icon {
      width: 124px;
      height: 124px;
      display: inline-block;
      position: relative;
      opacity: .999;
      z-index: 2;
   }

   &__icon--animate::after {
      display: block !important;
   }

   @for $i from 1 to 4 {
      &__icon--#{$i}-child {
         margin-bottom: #{(($i/$i*20)+($i*24)+20)}px;
      }
      &__icon--#{$i}-child::after {
         content: '';
         display: none;
         position: absolute;
         height: 0;
         width: 0;
         border-right: 1px solid #000;
         bottom: 10px;
         left: calc(50% - 1px);
         z-index: -1;
         animation: slide-skills-vert#{$i} #{((($i*24+29)/101)*.7)}s linear .1s 1 normal forwards;
      }
      @keyframes slide-skills-vert#{$i} {
         0% {
            height: 0;
            bottom: 10px;
         }
         100% {
            height: #{($i*24+28)}px;
            bottom: -#{($i*24+18)}px;
         }
      }
   }

   &__icon--SVG {
      width: 124px;
      height: 124px;
   }
   &__text {
      display: inline-block;
      padding-bottom: 1rem;
      z-index: 1;
   }
   &__h2 {
      display: block;
      color: rgba(0,0,0,0);
      height: 30px;
      line-height: 30px;
      font-size: 28px;
      margin: 47px 0 47px 24px;
      transition: color .5s ease;
      transition-delay: .3s;
      &::after {
         content: '';
         display: table;
         clear: both;
      }
   }
   &__h2--show {
      color: rgba(0,0,0,1);
   }
   &__h3 {
      display: none;
      position: relative;
      height: 24px;
      line-height: 30px;
      font-size: 20px;
      margin: 0 36px;
      opacity: .999;

      &:first-of-type {
         margin-top: 77px;
      }
      &--show {
         display: flex;
      }
   }

   @for $i from 1 to 4 {
      &__h3-#{$i} {
         color: rgba(0,0,0,0);
         animation: skills-opacity#{$i} .4s ease 1.5s 1 normal forwards;
      }
      &__h3-#{$i}::before {
         content: '';
         position: absolute;
         height: 0;
         width: 0;
         border-top: 1px solid #000;
         top: calc(50% - 1px);
         left: -98px;
         animation: slide-skills-hor .7s linear #{((((24*$i+29)/101)*.7)+.1)}s 1 normal forwards;
      }
      &__h3-#{$i}::after {
         content: '';
         position: absolute;
         height: 6px;
         width: 6px;
         border-radius: 6px;
         top: -#{($i*24+19)}px;
         left: -101px;
         background-color: #000;
         z-index: -1;
         animation: slide-skills-bullet#{$i} #{((((24*$i+29)/101)*.7)+.7)}s linear .1s 1 normal forwards;
      }
      @keyframes skills-opacity#{$i} {
         from {
            color: rgba(0,0,0,0);
         }
         to {
            color: rgba(0,0,0,1);
         }
      }
      @keyframes slide-skills-bullet#{$i} {
         0% {
            left: -101px;
            top: -#{($i*24+21)}px;
         }
         #{((((24*$i+29)/101)/(1+((24*$i+29)/101)))*100)}% {
            left: -101px;
            top: calc(50% - 3px);
         }
         100% {
            left: -12px;
            top: calc(50% - 3px);
         }
      }
   }


}

.block--divided {
   margin-bottom: 2rem;
}

@media only screen and (max-width: 1200px) {
   .block--intro {
      height: 650px;
   }
}

@keyframes slide-intro {
   0% {
      transform: translateX(-180px);
      color: rgba(0,0,0,0);
   }

   50% {
      color: rgba(0,0,0,0);
   }

   100% {
      transform: translateX(0);
      color: rgba(0,0,0,1);
   }
}

@keyframes slide-skills-hor {
   0% {
      width: 0;
   }
   100% {
      width: 88px;
   }
}
