*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 1.25rem; }

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  font-family: 'Josefin Sans', sans-serif; }

.nav {
  width: 100%;
  height: 50px;
  padding: 0 1rem;
  text-align: right; }
  .nav__button {
    display: inline-block;
    text-align: center;
    width: 150px;
    height: 30px;
    line-height: 30px;
    margin-top: 20px;
    font-size: 1rem;
    color: #8e8e8e;
    text-decoration: none;
    transition: color .1s ease; }
  .nav__button:hover {
    text-decoration: none;
    color: #000; }

.block {
  width: calc(100% - 80px);
  margin: 0 2rem;
  padding: 0 0 2rem 0; }

.block--intro {
  min-height: 650px;
  height: calc(100vh - 38px);
  position: relative; }
  .block--intro__inner {
    display: flex;
    height: 650px;
    position: absolute;
    bottom: 0;
    left: 0; }
  .block--intro__left {
    width: 480px;
    height: 560px;
    margin: 50px 0 0 0;
    z-index: 2; }
  .block--intro__center {
    width: 360px;
    padding-top: 300px;
    text-align: center; }
    .block--intro__center-inside {
      display: inline-block;
      text-align: left;
      height: 320px;
      display: none; }
    .block--intro__center-h1 {
      font-size: 1.6rem;
      height: 30px;
      margin: 0;
      position: relative;
      color: rgba(0, 0, 0, 0);
      transform: translateX(-180px);
      animation: slide-intro 1s ease 0.2s 1 normal forwards; }
      .block--intro__center-h1 > span:nth-child(1) {
        animation: letter1 0.4s linear 1100ms normal forwards; }
@keyframes letter1 {
  0% {
    color: black; }
  1% {
    color: #C22326; }
  99% {
    color: #C22326; }
  100% {
    color: black; } }
      .block--intro__center-h1 > span:nth-child(2) {
        animation: letter2 0.4s linear 1200ms normal forwards; }
@keyframes letter2 {
  0% {
    color: black; }
  1% {
    color: #fe6d2a; }
  99% {
    color: #fe6d2a; }
  100% {
    color: black; } }
      .block--intro__center-h1 > span:nth-child(3) {
        animation: letter3 0.4s linear 1300ms normal forwards; }
@keyframes letter3 {
  0% {
    color: black; }
  1% {
    color: #fda432; }
  99% {
    color: #fda432; }
  100% {
    color: black; } }
      .block--intro__center-h1 > span:nth-child(4) {
        animation: letter4 0.4s linear 1400ms normal forwards; }
@keyframes letter4 {
  0% {
    color: black; }
  1% {
    color: #017886; }
  99% {
    color: #017886; }
  100% {
    color: black; } }
      .block--intro__center-h1 > span:nth-child(5) {
        animation: letter5 0.4s linear 1500ms normal forwards; }
@keyframes letter5 {
  0% {
    color: black; }
  1% {
    color: #801638; }
  99% {
    color: #801638; }
  100% {
    color: black; } }
      .block--intro__center-h1 > span:nth-child(6) {
        animation: letter6 0.4s linear 1600ms normal forwards; }
@keyframes letter6 {
  0% {
    color: black; }
  1% {
    color: #9cc83b; }
  99% {
    color: #9cc83b; }
  100% {
    color: black; } }
      .block--intro__center-h1 > span:nth-child(7) {
        animation: letter7 0.4s linear 1700ms normal forwards; }
@keyframes letter7 {
  0% {
    color: black; }
  1% {
    color: #fbe839; }
  99% {
    color: #fbe839; }
  100% {
    color: black; } }
      .block--intro__center-h1 > span:nth-child(8) {
        animation: letter8 0.4s linear 1800ms normal forwards; }
@keyframes letter8 {
  0% {
    color: black; }
  1% {
    color: #f13f4f; }
  99% {
    color: #f13f4f; }
  100% {
    color: black; } }
      .block--intro__center-h1 > span:nth-child(9) {
        animation: letter9 0.4s linear 1900ms normal forwards; }
@keyframes letter9 {
  0% {
    color: black; }
  1% {
    color: #70B7BA; }
  99% {
    color: #70B7BA; }
  100% {
    color: black; } }
    .block--intro__center-h2-sect {
      height: 280px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .block--intro__center-h2 {
      font-size: 1rem;
      margin: 0.25rem 0;
      position: relative;
      color: rgba(0, 0, 0, 0);
      transform: translateX(-180px);
      animation: slide-intro 1s ease 0.4s 1 normal forwards; }
    .block--intro__center-h1::before, .block--intro__center-h2::before {
      content: '';
      position: absolute;
      height: 0;
      width: 200px;
      border-top: 2px solid #000;
      top: calc(50% - 2px);
      left: -210px; }
    .block--intro__center-h1::after, .block--intro__center-h2::after {
      content: '';
      position: absolute;
      height: 10px;
      width: 10px;
      border-radius: 5px;
      top: calc(50% - 6px);
      left: -15px;
      background-color: #000; }

.block--skills {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; }
  .block--skills__tile {
    display: flex;
    align-items: flex-start;
    height: 305px;
    width: calc(100% / 3); }
  .block--skills__icon {
    width: 124px;
    height: 124px;
    display: none;
    position: relative; }
  .block--skills__icon--1-child::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-right: 2px solid #000;
    bottom: 10px;
    left: calc(50% - 1px);
    z-index: -1;
    animation: slide-skills-vert1 0.5247524752s linear 0s 1 normal forwards; }
@keyframes slide-skills-vert1 {
  0% {
    height: 0;
    bottom: 10px; }
  100% {
    height: 53px;
    bottom: -43px; } }
  .block--skills__icon--2-child::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-right: 2px solid #000;
    bottom: 10px;
    left: calc(50% - 1px);
    z-index: -1;
    animation: slide-skills-vert2 0.7623762376s linear 0s 1 normal forwards; }
@keyframes slide-skills-vert2 {
  0% {
    height: 0;
    bottom: 10px; }
  100% {
    height: 77px;
    bottom: -67px; } }
  .block--skills__icon--3-child::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-right: 2px solid #000;
    bottom: 10px;
    left: calc(50% - 1px);
    z-index: -1;
    animation: slide-skills-vert3 1s linear 0s 1 normal forwards; }
@keyframes slide-skills-vert3 {
  0% {
    height: 0;
    bottom: 10px; }
  100% {
    height: 101px;
    bottom: -91px; } }
  .block--skills__icon--SVG {
    width: 124px;
    height: 124px; }
  .block--skills__text {
    display: inline-block; }
  .block--skills__h1 {
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: 28px;
    margin: 47px 0 77px 24px; }
  .block--skills__h2 {
    display: none;
    position: relative;
    height: 24px;
    line-height: 30px;
    font-size: 20px;
    margin: 0 36px; }
  .block--skills__h2-1 {
    color: rgba(0, 0, 0, 0);
    animation: skills-opacity1 0.4s ease 1.5247524752s 1 normal forwards; }
  .block--skills__h2-1::before {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-top: 2px solid #000;
    top: calc(50% - 1px);
    left: -98px;
    animation: slide-skills-hor 1s linear 0.5247524752s 1 normal forwards; }
  .block--skills__h2-1::after {
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    top: -45px;
    left: -103px;
    background-color: #000;
    z-index: -1;
    animation: slide-skills-bullet1 1.5247524752s linear 0s 1 normal forwards; }
@keyframes skills-opacity1 {
  from {
    color: rgba(0, 0, 0, 0); }
  to {
    color: black; } }
@keyframes slide-skills-bullet1 {
  0% {
    left: -103px;
    top: -45px; }
  34.4155844156% {
    left: -103px;
    top: calc(50% - 5px); }
  100% {
    left: -15px;
    top: calc(50% - 5px); } }
  .block--skills__h2-2 {
    color: rgba(0, 0, 0, 0);
    animation: skills-opacity2 0.4s ease 1.7623762376s 1 normal forwards; }
  .block--skills__h2-2::before {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-top: 2px solid #000;
    top: calc(50% - 1px);
    left: -98px;
    animation: slide-skills-hor 1s linear 0.7623762376s 1 normal forwards; }
  .block--skills__h2-2::after {
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    top: -69px;
    left: -103px;
    background-color: #000;
    z-index: -1;
    animation: slide-skills-bullet2 1.7623762376s linear 0s 1 normal forwards; }
@keyframes skills-opacity2 {
  from {
    color: rgba(0, 0, 0, 0); }
  to {
    color: black; } }
@keyframes slide-skills-bullet2 {
  0% {
    left: -103px;
    top: -69px; }
  43.2584269663% {
    left: -103px;
    top: calc(50% - 5px); }
  100% {
    left: -15px;
    top: calc(50% - 5px); } }
  .block--skills__h2-3 {
    color: rgba(0, 0, 0, 0);
    animation: skills-opacity3 0.4s ease 2s 1 normal forwards; }
  .block--skills__h2-3::before {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-top: 2px solid #000;
    top: calc(50% - 1px);
    left: -98px;
    animation: slide-skills-hor 1s linear 1s 1 normal forwards; }
  .block--skills__h2-3::after {
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    top: -93px;
    left: -103px;
    background-color: #000;
    z-index: -1;
    animation: slide-skills-bullet3 2s linear 0s 1 normal forwards; }
@keyframes skills-opacity3 {
  from {
    color: rgba(0, 0, 0, 0); }
  to {
    color: black; } }
@keyframes slide-skills-bullet3 {
  0% {
    left: -103px;
    top: -93px; }
  50% {
    left: -103px;
    top: calc(50% - 5px); }
  100% {
    left: -15px;
    top: calc(50% - 5px); } }
.block--divided {
  padding-bottom: calc(2rem - 2px);
  border-bottom: 2px solid #000;
  margin-bottom: 2rem; }

@keyframes slide-intro {
  0% {
    transform: translateX(-180px);
    color: rgba(0, 0, 0, 0); }
  50% {
    color: rgba(0, 0, 0, 0); }
  100% {
    transform: translateX(0);
    color: black; } }
@keyframes slide-skills-hor {
  0% {
    width: 0; }
  100% {
    width: 88px; } }

/*# sourceMappingURL=styles.css.map */
