<div [formGroup]="form" class="mb-3 position-relative">
    <label class="text-sm d-block mb-1 text-bold text-capitalize" [attr.for]="inputModel.key">{{ inputModel.label }}</label>
    <input class="input-default" (focus)="inputFocused = true" (blur)="inputFocused = false" [formControlName]="inputModel.key" [id]="inputModel.key" [type]="inputModel.type">
    <div class="input-error text-xs d-none d-block-sm" *ngIf="isTouched && !isValid">
        * {{ inputModel.label }} {{ errors.required ? 'is required' : 'is invalid' }} 
    </div>
    <div class="input-error text-xs d-block d-none-sm" *ngIf="isTouched && !isValid">
        {{ errors.required ? '* Required' : '* Invalid' }} 
    </div>
    <app-validate-tooltip *ngIf="showTooltip"></app-validate-tooltip>
</div>
